 .popup__container-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-top: 34px;
  margin-left: 36px;
  margin-bottom: 54px;

  color: #000000;
 }

 @media screen and (max-width: 600px) {
  .popup__container-title {
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
    margin-left: 10px;
    margin-bottom: 24px;
  }
}