.footer {
  width: 87%;
  max-width: 882px;
  margin: 66px auto 0;
  padding-bottom: 60px;

  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  color: #545454;
}

@media screen and (max-width: 620px) {
  .footer {
    font-size: 14px;
    line-height: 17px;
    
    margin-top: 48px;
    padding-bottom: 36px;
  }
}
