@import url(./_inactive/popup__container-save-btn_inactive.css);

.popup__container-save-btn {
  display: block;
  width: 358px;
  height: 50px;
  margin: 31px auto 0;

  color: #FFFFFF;

  background-color: #000000;
  border-radius: 2px;
  border: 0;
  transition: opacity 0.5s ease-out;

  cursor: pointer;
}

.popup__container-save-btn:focus {
  outline: none;
}

.popup__container-save-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .popup__container-save-btn {
    width: 220px;
    height: 40px;
    margin: 20px auto 0;
  }
}