.places {
  width: 87%;
  max-width: 882px;
  margin: 47px auto 0;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 282px);
  grid-auto-rows: auto;
  grid-gap: 18px;

  padding: 0;
}

@media screen and (max-width: 930px) {
  .places {
    grid-template-columns: repeat(2, 282px);
  }
}

@media screen and (max-width: 620px) {
  .places {
    grid-template-columns: 282px;
  }
}