.place__like-btn {
  width: 21px;
  height: 19px;
  
  background-image: url(./../../../images/like-btn.svg);
  background-repeat: no-repeat;
  background-position: center;

  align-self: center;
  cursor: pointer;

  background-color: transparent;
  border: none;
  transition: opacity 0.5s ease-out;
}

.place__like-btn:hover {
  opacity: 0.5;
}

.place__like-btn:focus {
  outline: none;
}